<a href="https://colab.research.google.com/github/EshaReddyA/Homework/blob/Collab_assign1/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Sum Items in List(Write a Python program to sum all the items in a list.)

In [ ]:
s1 = [1,2,3,4,5,6,7,8,9,10]
s2 = ["esha", "jahnavi","spandana"]
list = s1 + s2
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'esha', 'jahnavi', 'spandana']

2. Multiply Items in List(Write a Python program to multiply all the items in a list.)

In [ ]:
def multiply_list(numbers):
    result = 1  # Start with 1 since multiplying by 0 gives 0
    for num in numbers:
        result *= num  # Multiply each number with result
    return result

# Example usage
nums = [2, 3, 4, 5]
output = multiply_list(nums)
print(output)

120

3. Get Largest Number in List(Write a Python program to get the largest number from a list)

In [ ]:
s = [2,3,4,5,6]
list = max(s)
print(list)

6

4. Get Smallest Number in List(Write a Python program to get the smallest number from a list.)

In [ ]:
s = [2,3,4,5,6]
list = min(s)
print(list)

2

5. Count Strings with Same Start and End(Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.)
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [ ]:
def count_str(str):
    count = 0  # Initialize a counter
    for s in str:
        if len(s) >= 2 and s[0] == s[-1]:  # Check if length is 2 or more and first & last chars match
            count += 1
    return count
sample_list = ['abc', 'xyz', 'aba', '1221']
result = count_str(sample_list)
print(result)