<a href="https://colab.research.google.com/github/EshaReddyA/Homework/blob/Collab_assign1/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:

r = float(input("Enter the radius of the circle: "))
area = 3.14*r**2
print(f"The area of the circle with radius",area)

Enter the radius of the circle: 4
The area of the circle with radius 50.24

Take user input number +positive or -negative, write a condition if the number is positive or negative

In [6]:
x = int(input("Enter the number"))
if x>0:
  print("Positive")
else:
  print("Negative")

Enter the number-9
Negative

In [8]:
value1=int(input("Enter the value1:"))
value2=int(input("Enter the value2:"))
for value in range(value1,value2+ 1):
  if value%2==0:
    print(value,"it is even")
  else:
      print(value,"it is odd")

Enter the value1:2
Enter the value2:8
2 it is even
3 it is odd
4 it is even
5 it is odd
6 it is even
7 it is odd
8 it is even

In [20]:
def even_num(start_point, end_point):
    for n in range(start_point, end_point + 1):
        if n % 2 == 0:
            print(n)
start_point = int(input("Enter starting point: "))
end_point = int(input("Enter ending point: "))
even_num(start_point, end_point)

Enter starting point: 10
Enter ending point: 90
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90

Take three user inputs number1, number2 and operand make a calculator

In [15]:
number1 = int(input("Enter the number1:"))
number2 = int(input("Enter the number2:"))
operand = input("Enter the operand")
if operand == "+":
  print(number1+number2)
elif operand == "-":
       print(number1-number2)
elif operand == "*":
      print(number1*number2)
elif operand == "/":
      print(number1/number2)
elif operand == "%":
      print(number1%number2)
else:
      print("Invalid operand")

Enter the number1:2
Enter the number22
Enter the operand+
4

Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.
Sample numbers list :

numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [31]:
list = [
386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950,
            626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527 ]
for number in list:
  if number == 237:
   print(number)
   break
  elif number %2==0:
   print(number)

386
462
418
344
236
566
978
328
162
758
918
237

print program using *

In [35]:
print("*")
print("* *")
print("* * *")
print("* * * *")
print("* * * * *")

*
* *
* * *
* * * *
* * * * *